/***
* Main CSS for Exercise 10.a
* Developed By: Tyler Mann
***/

*,
*:before,
*:after {
  box-sizing: border-box;
}

[v-cloak] {
    display: none;
}

body {
    margin: auto;
    max-width: 1000px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.65;
    letter-spacing: 0.5px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    background-color: #1b1e22;
}

h1 {
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 35px;
    text-align: center;
    color: #dadadb;
    text-transform: uppercase;
}


a {
  background-color: #153557;
  color: #dadadb;;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 400;
  padding: 15px 15px 50px;
  margin-bottom: 15px;
  text-decoration: none;
}
a:hover {
  color: #a0821f;
}

h3 {
  margin: 0;
  font-size: 30px;
  padding: 20px 10px;
  line-height: 32px;
  color: #dadadb;
}

