/***
* Main CSS for Exercise 8.a
* Developed By: Tyler Mann
***/

*,
*:before,
*:after {
  box-sizing: border-box;
}

[v-cloak] {
    display: none;
}

body {
    margin: auto;
    max-width: 1200px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.65;
    letter-spacing: 0.5px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    background-color: #323a49;
}

h1 {
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 35px;
    text-align: center;
    color: #b1632f;
    text-transform: uppercase;
}

.note {
    padding-right: 30px;
    font-style: italic;
    font-size: 12px;
    text-align: right;
    color: #fff;
}
.numShown {
    font-weight: 700;
    font-size: 14px;
    color: #7be6e6;
}

/* Links */
a.link {
    display: block;
    padding-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #a0531f;
}

a:hover {
    color:#1f7272;
}

  
/* Conditional Styles */
  .even {
    background-color: #f1e3d9;
  }

  .year {
      border: solid 6px #7be6e6;
  }

/* Table Styles */
.table-box {
  border: solid 10px #a0531f;
  margin: 20px;
}
  table {
    border-collapse: collapse;
    background-color: #fff;
}
thead {
    color: white;
    background-color: #a0531f;
  }
  th {
    padding: 20px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
  }
  td { 
    padding: 20px;
  }
  .title {
    width: 250px;
    font-size: 18px;
    font-weight: 600;
  }
  .author {
    width: 150px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    
  }
  .publisher {
    width: 100px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    
  }
  .date {
    max-width: 30px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
  }
  
  .summary {
    width: 350px;
    font-size: 12px;
  }
  .actions {
    width: 150px;
  }
  .thead-center {
      text-align: center;
  }

/* Form Styles */
  form div{
    margin: 10px 0;
    display: flex;
    color: aliceblue;
    font-weight: 500;
    padding: 5px;
  }
  form {
    width: 100%;
    margin: 20px auto;
    color: #b1632f;
    font-weight: 700;
  }
  fieldset {
    border-radius: 5px;
    border: solid 5px #a0531f;;
  }
  legend {
    font-size: 20px;
    padding: 5px;
    color: aliceblue;
  }
  input, textarea{
    flex-grow: 1;
    color: #b1632f;
    font-weight: 700;
    padding: 15px;
    border-radius: 5px;
    border: solid 1px aliceblue;
    margin: 0;
  }
  textarea {
    height: 100px
  }
  div label {
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px;
  }
  ::placeholder {
    color: #d4d4d4;
    font-weight: 500;
  }
  .form-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .form-box input{
    width: 300px;
  }
  .enter-year {
    width: 90px !important;
    text-align: center;
  }
  .enter-summary {
    flex-direction: column;
  }
  .enter-summary label {
    padding-bottom: 5px;
  }
  
  .input-link-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .input-link-box input {
    width: 550px;
  }
  .column {
    flex-direction: column;
    margin: 0;
  }
  

/* Button Styles */
  .btn {
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: #b1632f;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 700;
  }
  .btn-add {
      background-color: white;
      border: solid #50bf82 2px;
      color: #50bf82;
      padding: 8px;
  }
  .btn-delete {
      padding: 8px;
      font-size: 12px;
      background-color: #f77b7b;
      color: white;
  }
    