/***
* Main CSS for Exercise 14.a Final Project
* Developed By: Tyler Mann
***/

*,
*:before,
*:after {
  box-sizing: border-box;
}

  [v-cloak] {
    display: none;
  }

  body {
    margin: 0 200px 0 100px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.65;
    letter-spacing: 0.5px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    /* background-color: #1b1e22; */
    background-color: #dadadb;
}
/* HEADER */
  header {
      margin: -120px 0 0 -90px;
      border: solid 3px #1b1e22;
      background-color: #f3f3f3;
      position: fixed;
      padding: 10px 200px 10px 100px;
      display: flexbox;
      justify-content: center;
      align-items: center;
  }
  .h-wrap {
    display: flex;
    justify-content: center;
      align-items: center;
  }
  h1{
      font-weight: 700;
      letter-spacing: 3px;
      font-size: 35px;
      text-transform: uppercase;
      color: #1bb890;
      margin: 0;
      padding: 0;
  }
  h2 {
    margin: 0;
    padding: 0 0 0 20px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #1b1e22;
  }
  .description {
    margin: 0;
    padding: 0;
    font-style: italic;
    font-size: 12px;
    color: #1b3046;
  }


/* Timeline */
  .timeline-wrapper {
    margin: 130px 300px 20px 20px;
    display: grid;
    grid-template-columns: repeat(70, minmax(500px, 1fr));
    grid-column-gap: 2rem;
    
    
  }
  .event {
    justify-content: space-between;
    border: solid 3px #1b1e22;
    background-color: #f3f3f3;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;

  }

  /* Event Details */
  .date {
    background-color: #1b1e22;
    color: #dadadb;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1.75px;
    font-weight: 400;
    padding: 10px 15px;
  }

  h3 {
    margin: 0;
    font-size: 30px;
    padding: 20px 10px;
    line-height: 35px;
    color: #2d3f3a;
  }

  .place {
    margin: 0;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px 10px;
    line-height: 15px;
    font-weight: 500;
    color: #17DAA9;
    
  }

  .summary {
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px 20px;
    color: #1b1e22;
  }



/* Showing # items */
  .note {
    margin: 0 0 0 50px;
    padding-right: 100px;
    font-style: italic;
    font-size: 12px;
    color: #1b3046;
    position: fixed;
  }


  .numShown {
    font-weight: 700;
    font-size: 14px;
    color: #1bb890;;
  }

/* Right Arrow */

  .chevron-right {
    position: fixed;
    margin: 20% 0 0 93%;
    display: flex;
    justify-content: right;
    font-size: 25px;
    color: #1b3046;
  }

/* Links */
  a.link {
    text-decoration: none;
    font-size: 30px;
    line-height: 35px;
    color: #2d3f3a;
    border-bottom: solid 2px #17DAA9;
  }

  a:hover {
    color:#1bb890;
    border-bottom: solid 2px #1bb890;
  }

  /* Button Styles */
  .actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: solid 2px #000;
    background-color: #000;
    color: #dadadb;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1.5px;
    font-weight: 600;
  }

  .btn:hover {
    color: #dadadb;
    background-color: #bb5252;
    border: solid 2px #bb5252;
  }
  
  .btn-delete {
      padding: 12px 20px;
      font-size: 13px;
      border: solid 2px #1b1e22;;
      /* background-color: #1f242b; */
      background-color: #f3f3f3;
      /* color: #dadadb; */
      color: #1b1e22;;
  }

  .fa-minus-circle {
      font-size: 15px;
  }

