/***
* Main CSS for Exercise 9.a
* Developed By: Tyler Mann
***/

*,
*:before,
*:after {
  box-sizing: border-box;
}

  [v-cloak] {
    display: none;
  }

  body {
    margin: 0 200px 0 100px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.65;
    letter-spacing: 0.5px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    background-color: #1b1e22;
}

h1 {
    margin: -70px 0 0 0;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 35px;
    text-align: center;
    color: #dadadb;
    text-transform: uppercase;
    position: fixed;
}
h2 {
  text-align: center;
  color: #a0821f;
}

.timeline-wrapper {
  margin: 100px 300px 20px 20px;
  display: grid;
  grid-template-columns: repeat(200, 350px);
  grid-template-rows: 800px;
  grid-column-gap: 40px;
  
}
.event {
  justify-content: space-between;
  width: 350px;
  border-radius: 6px;
  background: #1f242b;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  margin: 10px 30px;

}

.date {
  background-color: #1b304657;
  color: #dadadb;;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.75px;
  font-weight: 400;
  padding: 10px 15px;
}

h3 {
  margin: 0;
  font-size: 30px;
  padding: 20px 10px;
  line-height: 32px;
  color: #dadadb;
}

.place {
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px 10px;
  line-height: 15px;
  font-weight: 500;
  color: rgb(127, 208, 255);
}

.summary {
  font-size: 15px;
  font-weight: 500;
  padding: 5px 10px;
  color: #dadadb;
}

  img {
    max-width: 400px;
    max-height: 400px;
  }

  .note {
    margin: 0 0 0 50px;
    padding-right: 100px;
    font-style: italic;
    font-size: 12px;
    /* text-align: right; */
    color: #fff;
    position: fixed;
  }
  .numShown {
    font-weight: 700;
    font-size: 14px;
    color: #7be6e6;
  }

  /* Right Arrow */

  .chevron-right {
    position: fixed;
    margin: 20% 0 0 93%;
    display: flex;
    justify-content: right;
    font-size: 25px;
    color: #1b3046;
  }

/* Links */
  a.link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #a0531f;
  }

  a:hover {
    color:#1f7272;
  }

  /* Button Styles */
  .actions {
    text-align: center;
  }

  .btn {
    border-radius: 10px;
    border: none;
    color: #dadadb;
    background-color: #b1632f;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1.5px;
    font-weight: 600;
  }
  
  .btn-delete {
      padding: 10px 15px;
      font-size: 13px;
      background-color: #3d2222;
      color: #dadadb;
  }

  .fa-minus-circle {
      font-size: 10px;
  }

